* {
    padding: 0px;
    /* outline: 1px solid red; */
}
.dept {
    display: inline-block; 
    margin-right: 1%; 
    width: 22%; 
    border: 3px solid black; 
    text-align: center;
    border-radius: 15px;
    margin-left: 20px;
}
h1 {
    font-size: 24px; 
    text-align: center;
}
textarea {
    border: 3px solid black;
    border-radius: 15px;
}
.goldcount {
    border: 3px solid black; 
    font-size: 24px; 
    text-align: right;
    border-radius: 15px;
}
input[type="submit"] {
    font-weight: bold;
    border-radius: 15px; 
    margin-bottom: 50px; 
    height: 30px; 
    width: 100px; 
    color: #7a00ff; 
    background-color: gold;
    box-shadow: 2px 6px #8b5bbe;
}